body {
    margin: 0;
    display: block;
    place-items: normal;
}
.navigation-bar {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
img.logo {
    width: 30%;
    height: auto;
}
.navigation-bar li{
  display: inline-block;
    padding: 20px;
   
}
.navigation-bar ul{
  margin: 0;
}
.navigation-bar li a{
  color: black;
}